---
---

@import "{{ site.theme }}";

#header_wrap {
  background: #212141;
  background: -moz-linear-gradient(top, #373757, #212141);
  background: -webkit-linear-gradient(top, #373757, #212141);
  background: -ms-linear-gradient(top, #373757, #212141);
  background: -o-linear-gradient(top, #373757, #212141);
  background: linear-gradient(top, #373757, #212141);
}

#footer_wrap {
  background: #212141;
}
