---
---

@import "{{ site.theme }}";

#header_wrap {
  background: #212161;
  background: -moz-linear-gradient(top, #373757, #212161);
  background: -webkit-linear-gradient(top, #373757, #212161);
  background: -ms-linear-gradient(top, #373757, #212161);
  background: -o-linear-gradient(top, #373757, #212161);
  background: linear-gradient(top, #373757, #212161);
}

#footer_wrap {
  background: #212161;
}
